*{
  background-color: #282c34;
  color: pink;
}
.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

img{
  border-radius: 50%;
  height: 250px;
  width: 250px;
  filter: drop-shadow(21px 20px 24px #e00f9e);

}

.education{
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bachelors{
  background-color: #424957;
  height: 200px;
  width: 250px;
  padding: 10px;
}
.bachelors p, .bachelors h3{
  background-color: #424957;
}
.associates{
  background-color: #424957;
  height: 200px;
  width: 250px;
  padding: 10px;
}
.associates p, .associates h3{
  background-color: #424957;
}
.skills{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  padding-bottom: 400px;
}

.Projects{
  display: flex;

}
.Python{
  padding-left: 10px;
  border: solid 1px rgb(238, 109, 130);
  filter: drop-shadow(21px 20px 24px pink);
  margin: 0 40px;
}
.Java{
  margin-top: 40px;
  padding-left: 10px;
  border: solid 1px rgb(238, 109, 130);
  filter: drop-shadow(21px 20px 24px pink);

}

.JavaScript{
  margin-top: 40px;
  padding-left: 10px;
  border: solid 1px rgb(238, 109, 130);
  filter: drop-shadow(21px 20px 24px pink);
  width: 50%;
}
.Others{
  margin-top: 40px;
  padding-left: 10px;
  border: solid 1px rgb(238, 109, 130);
  filter: drop-shadow(21px 20px 24px pink);
  width: 50%;
}